body {
  /*padding-top: 50px;*/
}
.starter-template {
  padding: 40px 15px;
}


.content-section-a {
    padding: 5px 0;
    background-color: #f8f8f8;

}

.content-section-b {
    padding: 5px 0;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
}

hr { 
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

#container_columns {
  height: 400px; 
  min-width: 310px; 
  max-width: 800px;
  margin: 0 auto;
}
#cabecera{
	text-align: center;
	font-size: 150%;
	margin: 50px 0px 10px 0px;
}
#enlace_publicaciones{
	font-size: 130%;
	text-decoration: none;
}


#lista_entradas{
	height:600px;
	overflow:auto;
	overflow-x:hidden;
}

.entrada{
	/*border-style: solid; */
	margin-bottom: 15px;

}
.img_portada{
	min-width: 149px;
	float: left;
	margin: 30px 10px 15px 10px;
}

.cuerpo_entrada{
	float: left;
	margin: 20px 0px 5px 10px;
	max-width: 70%; 
}

.boton_impresion{
	float: right;
	margin-right: 30px;
}

.boton_impresion a{
	text-decoration: none;
	color:black;
}

#datos_autor{
 float: left;  
margin: 40px 80px;
max-width: 35%;
text-align: center;
}
#datos_autor img{
margin: 10px 20px 0px;
}
/*
#datos_autor2{
float: left; 
margin: 70px 10px 50px 10px;
max-width: 33%;
}
*/

/* Estilo para celda de datos de autor*/
  .bold-font {
    font-weight: bold;
  }

/*celda-datos se define en línea, definido aquí las pisan las cargadas de Google Charts*/

  .large-font {
    font-size: 15px;
  }

  .italic-darkblue-font {
    font-style: italic;
    color: #FFFFFF;
    background-color: #008000;
  }

#tabla_datos {
	float: left;
	margin: 90px 50px 0px 50px;
}



#lista_coautores{
	
	height:650px;
	overflow:auto;
	overflow-x:hidden;

	border-color: grey;
	margin: 30px auto;
	
}



.footer {
  background-color: #222;
  color: white;
  width: 100%;
  height: 70px;
  padding: 20px 0;
  
  position: static;
  margin-top: 15px;
}