body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  /*text-align: center;*/
}

#container_columns {
  height: 400px; 
  min-width: 310px; 
  max-width: 800px;
  margin: 0 auto;
}

